<div class="stat-block-wrapper {{#if this.wide}}wide{{/if}} {{#if this.float}}float{{/if}}">
  <div class="stat-block">
    <div class="first-col col">
      <div class="creature-heading">
        <h1>{{this.name}}</h1>
        <h2>{{this.size}} {{this.type}}{{#if this.subtype}} ({{this.subtype}}){{/if}}{{#if this.alignment}},
          {{this.alignment}}{{/if}}</h2>
      </div>

      <div class="spacer"></div>

      <div class="top-stats">
        <div class="property-line">
          <h4>Armor Class</h4>
          <p>{{this.armor_class}}{{#if this.armor_desc}} ({{this.armor_desc}}){{/if}}</p>
        </div>
        <div class="property-line">
          <h4>Hit Points</h4>
          <p>{{this.hit_points}} ({{this.hit_dice}})</p>
        </div>
        <div class="property-line">
          <h4>Speed</h4>
          <p>
            {{#each speed}}
            {{~#unless @first}},{{/unless}}
            {{#if (eq @key "walk")}}
            {{this}} ft.
            {{~else}}
            {{@key}} {{this}} ft.
            {{~/if}}
            {{/each}}
          </p>
        </div>

        <div class="spacer top"></div>

        <div class="abilities-block">
          <div class="ability-score">
            <div class="ability-score-name">str</div>
            <div>
              <div class="ability-score-value">{{strength}}</div>
              <div class="ability-score-mod">({{strengthMod}})</div>
            </div>
          </div>
          <div class="ability-score">
            <div class="ability-score-name">dex</div>
            <div>
              <div class="ability-score-value">{{dexterity}}</div>
              <div class="ability-score-mod">({{dexterityMod}})</div>
            </div>
          </div>
          <div class="ability-score">
            <div class="ability-score-name">con</div>
            <div>
              <div class="ability-score-value">{{constitution}}</div>
              <div class="ability-score-mod">({{constitutionMod}})</div>
            </div>
          </div>
          <div class="ability-score">
            <div class="ability-score-name">int</div>
            <div>
              <div class="ability-score-value">{{intelligence}}</div>
              <div class="ability-score-mod">({{intelligenceMod}})</div>
            </div>
          </div>
          <div class="ability-score">
            <div class="ability-score-name">wis</div>
            <div>
              <div class="ability-score-value">{{wisdom}}</div>
              <div class="ability-score-mod">({{wisdomMod}})</div>
            </div>
          </div>
          <div class="ability-score">
            <div class="ability-score-name">cha</div>
            <div>
              <div class="ability-score-value">{{charisma}}</div>
              <div class="ability-score-mod">({{charismaMod}})</div>
            </div>
          </div>
        </div>
        {{#if saving_throws}}
        <div class="property-line">
          <h4>Saving throws</h4>
          <p>
            {{#each saving_throws}}
            {{~#unless @first}},{{/unless}}
            {{@key}} {{this}}
            {{/each}}
          </p>
        </div>
        {{/if}}
        {{#if skills}}
        <div class="property-line">
          <h4>Skill</h4>
          <p>
            {{#each skills}}
            {{~#unless @first}},{{/unless}}
            {{@key}} {{this}}
            {{/each}}
          </p>
        </div>
        {{/if}}
        {{#if damage_vulnerabilities}}
        <div class="property-line">
          <h4>Damage Vulnerabilities</h4>
          <p>{{capitalizeFirst damage_vulnerabilities}}</p>
        </div>
        {{/if}}
        {{#if damage_resistances}}
        <div class="property-line">
          <h4>Damage Resistances</h4>
          <p>{{capitalizeFirst damage_resistances}}</p>
        </div>
        {{/if}}
        {{#if damage_immunities}}
        <div class="property-line">
          <h4>Damage Resistances</h4>
          <p>{{capitalizeFirst damage_immunities}}</p>
        </div>
        {{/if}}
        {{#if condition_immunities}}
        <div class="property-line">
          <h4>Condition Immunities</h4>
          <p>{{capitalizeFirst condition_immunities}}</p>
        </div>
        {{/if}}
        {{#if senses}}
        <div class="property-line">
          <h4>Senses</h4>
          <p>{{capitalizeFirst senses}}</p>
        </div>
        {{/if}}
        {{#if languages}}
        <div class="property-line">
          <h4>Languages</h4>
          <p>{{capitalizeFirst languages}}</p>
        </div>
        {{/if}}
        {{#if challenge_rating}}
        <div class="property-line">
          <h4>Challenge</h4>
          <p>{{challenge_rating}} ({{expByCr challenge_rating}} XP)</p>
        </div>
        {{/if}}
        {{#if proficiency_bonus}}
        <div class="property-line">
          <h4>Proficiency Bonus</h4>
          <p>+{{proficiency_bonus}}</p>
        </div>
        {{/if}}
      </div>

      <div class="spacer"></div>

      {{#each special_abilities}}
      <div class="property-block">
        <h4>{{this.name}}.</h4>
        <p>{{breaklines this.desc}}</p>
      </div>
      {{/each}}

      <div class="property-block">
        <h4>Spells</h4>
        {{#each spells}}
          <span class="spell-clickable" data-spell-desc="{{this.desc}}" data-name="{{this.name}}">
            {{this.name}}
          </span>&nbsp;
        {{/each}}
      </div>

    </div>
    <div class="second-col col">
      {{#if actions}}
      <h3 class="actions">Actions</h3>

      {{#each actions}}
      <div class="property-block">
        <h4>{{this.name}}.</h4>
        <p>{{breaklines this.desc}}</p>
      </div>
      {{/each}}
      {{/if}}

      {{#if reactions}}
      <h3>Reactions</h3>

      {{#each reactions}}
      <div class="property-block">
        <h4>{{this.name}}.</h4>
        <p>{{breaklines this.desc}}</p>
      </div>
      {{/each}}
      {{/if}}

      {{#if legendary_actions}}
      <h3>Legendary Actions</h3>
      <p>{{breaklines legendary_desc}}</p>

      {{#each legendary_actions}}
      <div class="property-block">
        <h4>{{this.name}}.</h4>
        <p>{{breaklines this.desc}}</p>
      </div>
      {{/each}}
      {{/if}}
    </div>
  </div>
  {{#if description}}
  {{#if showDescription}}
  <div class="description">
    {{breaklines description}}
  </div>
  {{/if}}
  {{/if}}
</div>